<ion-header>
  <ion-toolbar color="secondary" mode="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tables
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sync()" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="sync"></ion-icon>
      </ion-button>
      <ion-button (click)="showAdd()" fill="clear" size="large">
        <ion-icon slot="icon-only" name="ios-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="tableItems$ | async as tableItems">
    <ion-item *ngFor="let tableItem of tableItems">
      <!-- <ion-label>
        {{ menuItem.name }}
      </ion-label> -->
      <ion-thumbnail slot="start">
        <img src={{tableItem.images[0].fileUrl}}>
      </ion-thumbnail>
      <ion-label>
        <h4 id="table">{{ tableItem.name }}</h4>
        <p>Seats: {{ tableItem.seats }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="showUpdate(tableItem)" fill="clear" size="large" color="primary">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="confirmDeleteItem(tableItem)" fill="clear" size="large" color="danger">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>





  <!-- <ng-container *ngIf="tableItems$ | async as tableItems">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let tableItem of tableItems" size-sm="12" size-md="6">
          <ion-card>
            <ion-card-header>
              <h3>Number: {{ tableItem.name }}</h3>
              Pax: {{tableItem.seats}} <br>
              Status: {{tableItem.status}} <br>
            </ion-card-header>
            <ion-img [src]="tableItem.images[0]"></ion-img>
            <ion-card-content>
              <ion-button (click)="showUpdate(tableItem)" fill="clear" color="primary">
                <ion-icon slot="icon-only" name="create"></ion-icon>
                <label> Edit </label>
              </ion-button>
              <ion-button (click)="confirm(tableItem)" fill="clear" color="danger">
                <ion-icon slot="icon-only" name="close-circle"></ion-icon>
                <label> Delete </label>
              </ion-button>

            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container> -->

</ion-content>