<ion-header>
  <ion-toolbar color="secondary" mode="md">
    <ion-buttons slot="start">
      <ion-button routerLink="/reservation" fill="clear" size="large">
        <ion-icon slot="icon-only" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()" fill="clear" size="large">
        <ion-icon name="checkmark"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
