<ion-header>
  <ion-toolbar color="secondary" mode="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Rooms
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sync()" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="sync"></ion-icon>
      </ion-button>
      <ion-button (click)="showAdd()" fill="clear" size="large">
        <ion-icon slot="icon-only" name="ios-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list  *ngIf="roomItems$ | async as roomItems">
    <ion-item *ngFor="let roomItem of roomItems">
      <!-- <ion-label>
        {{ roomItem.name }}
      </ion-label> -->
      <!-- <ion-avatar slot="start">
        <img src={{roomItem.images}}>
      </ion-avatar> -->
      <ion-thumbnail slot="start">
        <img src={{roomItem.images}}>
      </ion-thumbnail>
      <ion-label>
        <h2>Name: {{ roomItem.name }}</h2>
        <p>Pax: {{ roomItem.seats }}</p>
        <p>Status: {{ roomItem.status }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="showUpdate(roomItem)" fill="clear" size="large" color="primary">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteItem(roomItem)" fill="clear" size="large" color="danger">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>