<ion-header>
  <ion-toolbar color="secondary" mode="md">
    <ion-buttons slot="start">
      <ion-button routerLink="/product" fill="clear" size="large">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()" fill="clear" size="large">
        <ion-icon name="checkmark"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="productItem.name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="productItem.desc" name="desc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input [(ngModel)]="productItem.price" name="price" inputmode="numeric" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input [(ngModel)]="productItem.amount" name="amount" inputmode="numeric"></ion-input>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label position="floating">Menu</ion-label>
      <ion-select interface="popover" name="status" [(ngModel)]="productItem.menu"
        placeholder="{{productItem.menu.name}}" [value]="productItem.menu"> Select menu
        <ng-container *ngIf="menus$ | async as menus">
          <!-- *ngFor="let menu of menus" -->
          <ion-select-option *ngFor="let menu of menus" [value]=menu>{{menu.name}}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label position="floating">Status</ion-label>
      <ion-select interface="popover" name="status" [(ngModel)]="productItem.status" placeholder="Select status"
        value="true">
        <ion-select-option value="true">Available</ion-select-option>
        <ion-select-option value="false">Not available</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>






  <ng-container *ngIf="hasImg">
    <ion-list>
      <ion-list-header>Images</ion-list-header>
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
        <ion-item *ngFor="let img of productItem.images; i as index">
          <ion-thumbnail slot="start">
            <ion-img [src]="img.fileUrl"></ion-img>
          </ion-thumbnail>
          {{ img.fileName }}
          <ion-buttons slot="end">
            <ion-button (click)="confirmDeleteItem(i)" fill="clear" size="large" color="danger">
              <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

      </ion-reorder-group>
    </ion-list>
  </ng-container>

  <media-selector (selectedMedia)="handleMedia($event)"></media-selector>

</ion-content>