ion-card{
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
}
ion-img{
    object-fit: fill;
    width:  150px;
    height: 150px;
    background-size: cover;
 }