<ion-header>
  <ion-toolbar color="secondary" mode="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Product
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sync()" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="sync"></ion-icon>
      </ion-button>
      <ion-button (click)="showAdd()" fill="clear" size="large">
        <ion-icon slot="icon-only" name="ios-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <ion-list *ngIf="productItems$ | async as productItems">
    <ion-item *ngFor="let productItem of productItems">
      <!-- <ion-label>
          {{ menuItem.name }}
        </ion-label> -->
      <ion-thumbnail slot="start">
        <img src={{productItem.images[0]}}>
      </ion-thumbnail>
      <ion-label>
        <h4>{{ productItem.name }}</h4>
        <p> <b> Menu:</b> {{ productItem.menu.name }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="showUpdate(productItem)" fill="clear" size="large" color="primary">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="confirmDeleteItem(productItem)" fill="clear" size="large" color="danger">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>





  <!-- 
  <ng-container *ngIf="productItems$ | async as productItems">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let productItem of productItems" size-sm="12" size-md="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ productItem.name }}</ion-card-title>

              <ion-card-subtitle>
                Menu: {{productItem.menu.name}} <br>
              </ion-card-subtitle>

            </ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-img [src]="productItem.images[0]"></ion-img>
                </ion-col>
                <ion-col>
                  <strong> Describtion</strong>: {{productItem.desc}} <br>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-card-content>
              <ion-button (click)="showUpdate(productItem)" fill="clear" color="primary">
                <ion-icon slot="icon-only" name="create"></ion-icon>
                <label> Edit </label>
              </ion-button>
              <ion-button (click)="confirm(productItem)" fill="clear" color="danger">
                <ion-icon slot="icon-only" name="close-circle"></ion-icon>
                <label> Delete </label>
              </ion-button>

            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container> -->

</ion-content>